.App {
  background-color: #282c34;
  height: 100vh;
  color: white;
  text-align: center;
}

.App > div {
  width: 50%;
  margin: auto;
}

.form div {
  display: flex;
  justify-content: space-between;
}

.chart {
  display: flex;
  flex-wrap: wrap;
}

select,
input {
  padding: 5px;
  margin: 5px;
  background-color: transparent;
  color: white;
}

option {
  background-color: transparent;
  color: black;
}

header > input {
  margin: 5px;
  padding: 5px;
}
