.App {
  background-color: #282c34;
  height: 100vh;
  color: white;
  text-align: center;
}

.App > div {
  width: 50%;
  margin: auto;
}

.form div {
  display: flex;
  justify-content: space-between;
}

.chart {
  display: flex;
  flex-wrap: wrap;
}

select,
input {
  padding: 5px;
  margin: 5px;
  background-color: transparent;
  color: white;
}

span{
  padding:5px;
}

option {
  background-color: transparent;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > input {
  margin: 5px;
  padding: 5px;
}

footer{
  font-size: x-large;
  width:100%;
  position:fixed;
  bottom:0;
  text-align: center;
  color:transparent;
}
