.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: white;
}

.form{
 width: 300px;
}

.form div{
  width:100%;
  display:flex;
  justify-content: space-between;
  margin: 5px;
  padding:5px;
}